/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

/* Global Variables */
:root {
    --background-primary: #ECE2DA;
    --background-secondary: #3B8E46;
    --background-white: #FFFFFF;
    --primary-color: #3B8E46;
    --secondary-color: #D2776A;
    --white-text: #FFFFFF;
    --black-text: #000000;
    --button-nav: #DC9F96;
    --button-nav-hover: #C02E44;
    --button-page: #E0B9B4;
    --button-page-hover: #C02E44;
    --button-text: #FFFFFF;
}

/*body */
body {
    font-family: 'Syne', sans-serif; /* Police d'écriture */
    background-color: var(--background-primary); /* Couleur de fond */
    color: var(--black-text); /* Couleur du texte */
    margin: 0;
    padding: 0;
  }
.hide-title .site-title{
    display: none; /* Masque le titre du site */
  
}

/* Entry Content */
.entry-content p{
    color: var(--black-text); /* Couleur du texte */
    margin-bottom: 20px; /* Espace entre les paragraphes */
  
}

/*headings */
h1{
    font-size: 38px; /* Taille de police */
    font-weight: 800; /* Gras */
    text-transform: uppercase; /* Majuscules */
}
h2{
    font-size: 30px; /* Taille de police */
    font-weight: 800; /* Gras */
    text-transform: uppercase; /* Majuscules */
}
h3{
    font-size: 30px; /* Taille de police */
    font-weight: 700; 
}
h4{
    font-size: 20px; /* Taille de police */
    font-weight: bold; /* Gras */
}

/* Navigation */
/* Links */
a{
    color: var(--black-text); /* Couleur du texte */
    text-decoration: none; /* Pas de soulignement */
}

ul,li {
    list-style: none; 
}

/* Remove spin buttons on input fields */

.panier input::-webkit-outer-spin-button,
.panier input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}


/* header */

header #commander {
    background-color: var(--button-nav); /* Couleur de fond */
    padding: 10px 30px; /* Marge */
    display: flex; /* Affichage en flexbox */
    align-items: center; /* Alignement vertical */
    justify-content: space-between; /* Alignement horizontal */
    position: fixed; /* Position fixée */
    top: 0; /* Positionnement en haut de la page */
    left: 0; /* Positionnement en gauche de la page */
    z-index: 100; /* Positionnement au dessus des autres éléments */
}



#master .ast-container, .site-header-focus-item + .ast-breadcrumbs-wrapper{
    padding-right: 0;
}

.page-commander-lien{
    background-color: var(--button-nav); /* Couleur de fond */
    height: 100%;
    width: 236px;
    text-align: center;
}

/*Horizontal menu */
.menu-content {
    list-style: none;
    padding: 0;
    text-align: right;

}

.menu-content li{
    display: inline-block;
    margin-right: 20px;
}

.menu-content li:last-child{
    margin-right: 0;

}

/*menu commander*/

#menu-item-21 a{
    background-color: var(--button-nav); /* Couleur de fond */
    font-weight: 700 !important;
    flex-shrink: 0;
    display: flex;
    align-items: center !important;
    text-align: center !important;

    

}




/* Centered content  on specific pages*/
.page-nous-rencontrer, .page-home{
    text-align: center;
}

.equipe{
    display: inline-block;
}
.equipe img {
    display: block;
    margin : 0 auto;
    width: 150px;
    height: auto;
}

/* Typography */
.titre-home{
    line-height: 48px !important;
    font-size: 48px !important;
    color: #3B8E46;
    font-family: Syne;
    font-weight: 800;
    text-transform: uppercase !important;
}

.energie-des-plantes, .gouts, .pensent, .fathia-vero-marc{
    line-height: 36px !important;
    font-size: 36px !important;

}

.gouts{
    color: #D2776A !important;
    margin-top: 50px !important;
}
.pensent, .fathia-vero-marc{
    color: #3B8E46 !important;

}

.img-pensent{
    display: flex;
    justify-content: center;
    align-items: center;
}



#post-6 > div > div.wp-block-uagb-container.uagb-block-919fd6cd.alignfull.uagb-is-root-container > div > p{
    align-items: center !important;
    margin-bottom: inherit !important;
    margin-top: 50px !important;
}

.energie-plantes{
  margin-bottom: 50px !important;
}


/* image canette sur page home */

body.home {
    background: none;
}

.cannette {
   
    height: auto !important;
    position: relative !;
    /* background: url(http://localhost/planty/wordpress/wp-content/uploads/2024/09/Planty6-1.png) lightgray 50% / cover no-repeat; /* */
    width: 400px;
    height: 500px;
    z-index: 500;
   
    
      
    
}

.uag-image-92 /* image canette sur page home */{
    z-index: 500;
    
 
}

.uag-image-94 /* image feuille gauche sur page home */{
    z-index: 50;
    
   

}

.uag-image-66 /* image feuille droite sur page home */{
    z-index: 50;
    
   

} 


.feuille-gauche  {
    position: absolute;
    left: 577px;
    top: 30%;
    width: 130px;
    height: 170px;
   
   
}
   



.feuille-droite {
    position: absolute;
    right: 550px;
    top: 30%;
    width: 140px;
    height: 160px;
    
}

.image-canette {
    background-image: url('//localhost/planty/wordpress/wp-content/uploads/2024/09/Group-8-1-768x70-1.png');
    background-repeat: repeat-x;
    height: 70px !important;
    margin-bottom: 0;
    
}


/* Footer */



footer .footer{
    display:flex;
    justify-content: center;
    align-items: center;

}


footer {
    border-top: solid var(--background-white) 1px;
}



.copy{
    text-align: center;
}


.site-primary-footer-wrap{
    border-top: solid var(--background-white);
}


.entry-title{
    display:none;
}


.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.page-commander {
    background-color: var(--primary-color);
}

.image-ronde img{
    border-radius: 50%;
}


.page-home{
    background-color: var(--secondary-color);
    padding-bottom: 50px;
}


.group-nous-contacter{
    position:relative;

}

.group-nous-contacter .background-image{
    position:absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
    width: auto;
    height: 200px;


}



.group-nous-contacter.wp-block-group_inner-container{
    position: relative;
    z-index: index 1;
}


/* Container styles */
.wp-block-uagb-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wp-block-uagb-container .item{
    flex: 1 1 calc(25% - 20px);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.ast-builder-menu-1{
    display: block !important;
}

/* Styles de la navbar */
.main-navigation {
    background-color: var(--background-white);
    color: var(--black-text);
  }

.menu-content li{
    list-style: none;
    margin: 10px 0;
}

.image-canette {
    background-image: url('//localhost/planty/wordpress/wp-content/uploads/2024/09/Group-8-1-768x70-1.png');
    background-repeat: repeat-x;
    height: 70px !important;
    padding: 0;
    margin-bottom: 0;
}
  
/* Page home */
.boisson {
    color: #3B8E46 !important;
    text-align: center;
    font-family: Syne;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;


}


.energie-des-plantes{
    color: #3B8E46 !important;
    text-align: center;
    font-family: Syne;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}


.boisson{
    position:relative;
    border-radius: 0 0 10% 10%;
    overflow:hidden;
    background-color: #ECE2DA;
}

.gouts{
    color:#D2776A !important;
    text-align: center;
    font-family: Syne;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    overflow: hidden;
  
}


.saveur{
    color: #000 !important;
    text-align: center;
    font-family: Syne;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom : -5px !important;
    padding: 5px !important;
    margin: 20px !important;

}
.commander{
    margin: 35px !important;
}


.pensent{
    color: #3B8E46 !important;
    text-align: center;
    font-family: Syne;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin: 30px !important;
}

.im-pensent{
    display:flex;
    justify-content: center;
    align-items: center;
}


.les-gouts{
   
    border-radius: 0 0 5% 5%;
    overflow: hidden;
    background-color: #ECE2DA;
}


/* Page commander */

#block-6b7415d7-da37-4baf-b0ca-3c4041207be8 > div > div > div{

    background-color: #3B8E46 !important;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--primary-color);
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
  
  
  .section-command {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
    width: 100%;
  }
  
  .section-command .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
  .section-command label {
    font-size: 20px;
    font-weight: 400;
    color: var(--background-white);
    line-height: 2;
    margin: 10px 0;
  }
  
  .form-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .form-left,
  .form-right {
    flex: 1;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  h3 {
    margin-bottom: 15px;
  }
  
  /* Optionally adjust the form stylying */
  
  /* Conteneur du formulaire */
  .form-container {
    align-items: flex-start;
    gap: 20px;
  }
  
  /* Section de gauche */
  .form-left {
    padding-right: 10px;
  }
  
  /* Section de droite */
  .form-right {
    padding-left: 10px;
  }
  
  /* Séparateur */
  .form-separator {
    width: 1px;
    background-color: #ddd;
    height: auto;
  }
  
  /* Styling des champs de saisie */
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Stylisation des titres des sections */
  h3 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
  }

  .quantite {
    display: inline-block;
    background-color: #ffffff;
    color: #000000;
    font-size: 10px;
    padding: 32px 5px;
    border-radius: 3px;
    width: 20px;
    text-align: center;
    margin-top: 10px;
   
}

   


.formulaire-contact{
    margin-top: 50px;
    display: flex;


}









/* Page Nous rencontrer */

.rencontrer {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 10% 10%;
    background-color: #ECE2DA;
    position: relative;
}


#post-12 > div > div.wp-block-uagb-container.rencontrer.uagb-block-2616fd46.alignfull.uagb-is-root-container{
    position: relative;
    margin-top: -85px !important;
    margin-right: 20px !important;
}


.equipe{
    margin-top: 50px !important;
}

.plante {
    width: 145.302px;
    height: 150.262px;
    flex-shrink: 0;
    transform: rotate(-05deg); /* Rotation de 110 degrés dans le sens antihoraire */
    
   
}





.image-container img {
    margin: 0;
    display: block; /* Pour enlever tout espace sous l'image */
    padding: 0; /* Aucun remplissage autour de l'image */
}

.contacter-bloc {
    margin-top: -20px;
    margin: 0; /* Aucune marge autour du bloc contacter */
    padding: 0; /* Aucun remplissage autour du bloc contacter */
    position: relative;



}

.image-ronde img {
    margin-bottom: -10px;
}

.contacter {
    background-color: #ECE2DA;
}

.fleur {
    position: relative;
    width: 185px;
    height: 185px;
}


#post-12 > div > div.wp-block-uagb-container.contacter.uagb-block-66e6da37.alignfull.uagb-is-root-container > div > div.wp-block-uagb-container.image-canette.uagb-block-94f20f23.alignfull.uagb-is-root-container > div{
    align-items: center !important;
    margin-bottom: inherit !important;
    margin-top: 50px !important;

}





/* Media queries */

@media (max-width: 768px) {
    .energie-des-plantes, .gouts, .pensent {
        font-size: 24px !important;
        font-size: 24px !important;
    }

    .titre-home {
        font-size: 40px !important;
        line-height: 40px !important;
    }

    .fathia-vero-marc{
        line-height: 30px !important;
        font-size: 30px !important;
    }

    .main-navigation.toggled, .navbar-collapse.toggled{
        display: block;
    }

    .main-navigation, .navbar-collapse {
        display: none;
    }



    .section-command{
        flex-direction: column;
        align-items: center;
    }


    .section-command .item{
        width: 100%;
        margin-bottom: 20px;
    }

    .formulaire-contact .wp-block-column.is-layaout-flow:first-child,
    .bloc-boisson .wp-block-column.is-layaout-flow:first-child{
        border-right: none !important ;
        padding-right: 10px;
    }


    .formulaire-contact .wp-block-column.is-layaout-flex,
    .bloc-boisson .wp-block-column.is-layaout-flex{
        column-gap: 10px !important;
    }

    .formulaire-contact .wp-block-column.wp-block-column.is-layaout-flow:last-child,
    .bloc-boisson .wp-block-column.wp-block-column.is-layaout-flex:last-child{
        border-left: none !important ;
        padding-left: 10px;
    }

    .bloc-boisson .wp-block-column.is-layaout-flow{
        display: flex;
        align-items: center;
        justify-content: center;

    }
       
    .wp-admin.wp-core-ui.js.ast-highlight-wpblock-onhover.ast-defaut-cotent-unboxed.ast-defaut-sidebar-unboxed.ast-defaut-layout-page-builder.ast-block-custom.ast-no-sidebar.ast-siedebar-defaut-no-siededbar.is-fullscreen-mode.post-php.auto-fold.admin-bar.post-type-page.branch-6-5.version-6-5-4.admin-color-fresh.locale-fr-fr.block-editor-page.wp-embed-responsive.customize-support.svg.ast-page-builder-template{
       background-color: #fff;
       padding: 20px;
       text-align: left;
    }



    .wp-block-uagb-container .item{
        flex: 1 1 100%;
        margin: 10px 0;
        box-sizing: border-box;
    }


    .ast-builder-menu-1{
        display: none !important;

    }

    .wp-block-uagb-container{
        flex-direction: column ;
        align-items: center;
    }

    .wp-block-uagb-container .item {
        flex: 1 1 100%;
        margin: 10px 0;
        box-sizing: border-box;
    }

    .ast-builder-menu-1{
        display: none !important;
    }

    .fruits{
        display: flex;
        justify-content: center;
    }
}

.wp-block-uagb-container.uagb-block-66e6da37{
    padding: 0 !important;
}

/* Sélecteur pour le footer "mentions légales" */
.footer-mentions-legales {
    margin-top: 0;
    padding: 0;
    
  }
  .ast-plain-container.ast-no-sidebar #primary{
    margin-bottom: 0 !important;
  }
.background-color-primary {
    background-color: var(--background-primary);
}

/* Media Query for Mobile */
@media (max-width: 768px) {
    .burger-button {
        display: block;
    }

    .main-navigation {
        display: none;
    }

    .main-navigation.toggled {
        display: block;
    }
}







