.wp-block-site-title__placeholder{
  border:1px dashed;
  padding:1em 0;
<<<<<<< HEAD
}

.editor-styles-wrapper :where(.wp-block-site-title a){
  color:inherit;
=======
>>>>>>> bb56ea5 (projet final)
}